html,body{
  height: 100%;
  margin: 0;
}
body{
  overflow: hidden;
}
.contain{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: .5s;
  min-height: 97%;
}
.image{
  width: auto;
  height: 100%;
  background: url("background.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  transition: .5s;
  z-index: -1;
}
.card{
  width: 280px;
  height: 280px;
  padding: 10px;
  background: white;
  transition: .5s;
  opacity: 0;
  text-align: justify;
  font-size: 18px;
  transform: rotate(45deg);
}
.contain:hover .image{
  transform: scale(1.5);
}
.contain:hover .card{
  opacity: 1;
  transform: rotate(0deg);
}
.contain:hover{
  border: 10px solid skyblue
}
